{% extends "layout.html" %}

{% block title %}
    GAMES
{% endblock %}

{% block main %}
<form action="/games1" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="input" name="season" placeholder="Season" type="text">
        <select name="team" class="select">
            <option disabled selected value="">Team</option>
            {% for team in teams %}
            <option value={{ team }}>{{ team }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
{% endblock %}