{% extends "layout.html" %}

{% block title %}
    STATS
{% endblock %}

{% block main %}
    {% for data in data %}
        {% if data.team.abbreviation == 'ATL' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612737/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'LAL' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612747/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'BOS' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612738/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'BKN' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'CHA' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612766/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'CHI' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612741/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'CLE' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612739/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'DAL' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612742/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                        <p class="card-text">{{ data.season }}</p>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'DEN' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612743/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                        <p class="card-text">{{ data.season }}</p>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'DET' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.worldvectorlogo.com/logos/detroit-pistons-4.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'GSW' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612744/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'HOU' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612745/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'IND' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612754/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'LAC' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612746/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'MEM' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612763/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'MIA' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612748/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                        <p class="card-text">{{ data.season }}</p>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'MIL' %}
                <div class="card center" style="width:300px">
                    <img class="card-img-top" src="https://cdn.nba.com/logos/nba/1610612749/global/L/logo.svg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'MIN' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612750/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'NOP' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612740/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'NYK' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612752/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'OKC' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612760/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'ORL' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612753/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'PHI' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612755/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'PHX' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612756/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'POR' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612757/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'SAC' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612758/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'SAS' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612759/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'TOR' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612761/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% elif data.team.abbreviation == 'UTA' %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612762/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% else %}
                <div class="card center" style="width:300px">
                    <img src="https://cdn.nba.com/logos/nba/1610612764/global/L/logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ name }} {{ last }}</h4>
                    </div>
                </div>
        {% endif %}
        <pre></pre>
        <pre></pre>
        <div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Points
                    <span class="badge bg-primary squared-pill">{{ data.pts }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Assists
                    <span class="badge bg-primary squared-pill">{{ data.ast }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Blocks
                    <span class="badge bg-primary squared-pill">{{ data.blk }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Steals
                    <span class="badge bg-primary squared-pill">{{ data.stl }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Turnovers
                    <span class="badge bg-primary squared-pill">{{ data.turnover }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Rebounds
                    <span class="badge bg-primary squared-pill">{{ data.reb }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Defensive Rebounds
                    <span class="badge bg-primary squared-pill">{{ data.dreb }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Offensive Rebounds
                    <span class="badge bg-primary squared-pill">{{ data.oreb }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Triples Attempted
                    <span class="badge bg-primary squared-pill">{{ data.fg3a }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Triples Scored
                    <span class="badge bg-primary squared-pill">{{ data.fg3m }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Field Goals Attempted
                    <span class="badge bg-primary squared-pill">{{ data.fga }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Field Goals Scored
                    <span class="badge bg-primary squared-pill">{{ data.fgm }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Free Throws Attempted
                    <span class="badge bg-primary squared-pill">{{ data.fta }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Free Throws Scored
                    <span class="badge bg-primary squared-pill">{{ data.ftm }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Minutes Played
                    <span class="badge bg-primary squared-pill">{{ data.min }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Personal Fouls
                    <span class="badge bg-primary squared-pill">{{ data.pf }}</span>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}