{% extends "layout.html" %}

{% block title %}
    STATS
{% endblock %}

{% block main %}
<div class="alert alert-info">
    <strong> In order to get the Player ID, go to the "Players" section </strong>
</div>
<form action="/season_stats" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="input" name="season" placeholder="Season" type="text">
        <input autocomplete="off" autofocus class="input" name="id" placeholder="Player ID" type="text">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Stats</button>
    </div>
</form>
{% endblock %}